.date {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-width: 2px;
    padding: 2em;
    display: inline-block;
    margin: 1em;
}

.currentDayContainer {
    border-style: solid;
    border-width: 2px; 

}

header {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    
} 

h1 {
    color: white;
}

.date {
    background-color: #098a8a;
    color: white;
}

.UV {
    width: 25%;
} 
